<div class="jumbotron center">
	<h1>Are you <b>ready</b> to start pinning?*</h1>
		<p>
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg"%>
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg"%>
		</p>
	*Powered by Ruby on Rails + Bootstrap + Devise + jQuery Masonry, running on Heroku.
</div>