<%= link_to "home", root_path%>
<%= link_to "about", about_path%>
<h1>About me</h1>
<p>Just a product manager trying to make by with a little coding. This is part of the One Month Rails program. Good stuff.</p>