<div class="jumbotron center">
	<h1>Are you <b>ready</b> to start pinning?*</h1>
	<h3>*Powered by Ruby on Rails + Bootstrap + Devise, running on Heroku.</h3>
    <% if user_signed_in? %>
    	#do something
    <% else %>
		<p>
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg"%>
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg"%>
		</p>
	<% end %>

</div>